@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 10px;
}

.katex-display {
  margin: 0.5rem 0 1rem 0;
}

.prose h2 { @apply text-xl font-semibold mt-6 mb-2; }
.prose h3 { @apply text-lg font-semibold mt-4 mb-1; }
.prose p { @apply my-2; }
.prose ul { @apply list-disc ml-6 my-2; }
.prose ol { @apply list-decimal ml-6 my-2; }
